@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/clash-display');
@import 'variables.scss';

.container {
  font-family: $satoshi;
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
}
